@font-face {
  font-family: 'AirNewzealand';
  src: url("/css/fnt/airnewzaldblackitalic.eot");
  src: url("/css/fnt/airnewzaldblackitalic.eot?#iefix") format('embedded-opentype'), url("/css/fnt/airnewzaldblackitalic.woff") format('woff'), url("/css/fnt/airnewzaldblackitalic.ttf") format('truetype'), url("/css/fnt/airnewzaldblackitalic.svg#airnewzaldblackitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewBook';
  src: url("/css/fnt/apexnewbook.eot");
  src: url("/css/fnt/apexnewbook.eot?#iefix") format('embedded-opentype'), url("/css/fnt/apexnewbook.woff") format('woff'), url("/css/fnt/apexnewbook.ttf") format('truetype'), url("/css/fnt/apexnewbook.svg#apexnewbook") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewLight';
  src: url("/css/fnt/apexnewlight.eot");
  src: url("/css/fnt/apexnewlight.eot?#iefix") format('embedded-opentype'), url("/css/fnt/apexnewlight.woff") format('woff'), url("/css/fnt/apexnewlight.ttf") format('truetype'), url("/css/fnt/apexnewlight.svg#apexnewlight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewMedium';
  src: url("/css/fnt/apexnewmedium.eot");
  src: url("/css/fnt/apexnewmedium.eot?#iefix") format('embedded-opentype'), url("/css/fnt/apexnewmedium.woff") format('woff'), url("/css/fnt/apexnewmedium.ttf") format('truetype'), url("/css/fnt/apexnewmedium.svg#apexnewmedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
.header .nzo {
  float: right;
  background-image: url("/img/anz_logo.png");
  width: 246px;
  height: 40px;
  margin: 10px 10px 0 0;
}
.header .sfo {
  float: left;
  background-image: url("/img/sfo.png");
  width: 97px;
  height: 52px;
  margin: 0 0 0 10px;
}
.register {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 790px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 10;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-color: rgba(0,0,0,0.9);
  padding: 50px 0 100px 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s ease-in-out 0.5s;
  -moz-transition: opacity 0.5s ease-in-out 0.5s;
  -o-transition: opacity 0.5s ease-in-out 0.5s;
  -ms-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s;
}
.register.hidden {
  height: 1px;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.5s ease-in-out 0.5s;
  -moz-transition: opacity 0.5s ease-in-out 0.5s;
  -o-transition: opacity 0.5s ease-in-out 0.5s;
  -ms-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s;
}
.register > .title {
  margin: 100px 0 0 0;
  text-align: center;
  font-size: 3em;
}
.register > .copy {
  padding: 20px 120px;
  font-family: ApexNewLight;
  text-align: center;
  font-size: 1em;
  line-height: 1.1em;
}
.register > .form > .right {
  float: right;
  width: 395px;
}
.register > .form .option {
  padding: 10px 0 0 0;
}
.register > .form .checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.7);
  box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.7);
  margin: 0 0 0 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.register > .form .checkbox.checked {
  background-color: #009ec1;
  -webkit-box-shadow: 0 0 5px 0 #009ec1;
  box-shadow: 0 0 5px 0 #009ec1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.register > .form .label {
  font-family: ApexNewMedium;
  font-size: 1.3em;
  padding: 10px;
}
.register > .form .copy {
  float: right;
  font-family: ApexNewLight;
  font-size: 1em;
  margin: 0 0 0 40px;
}
.register > .left {
  float: left;
  width: 395px;
  border: 1px solid #f00;
  padding: 0 0 20px 0;
}
.register .input {
  background-color: #fff;
  width: 340px;
  padding: 5px 10px;
  margin: 0 0 0 10px;
  -webkit-box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.7);
  box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.7);
}
.register .input input {
  outline: none;
  font-family: ApexNewLight;
  font-size: 1.2em;
  border: none;
  width: 320px;
}
.register > .submit {
  float: left;
  font-size: 3em;
  margin: 20px 0 0 20px;
  padding: 0 20px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}
.register > .submit:hover {
  color: #009ec1;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.notice {
  position: fixed;
  width: 600px;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  z-index: 20;
  background-color: rgba(0,0,0,0.9);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.5);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.5);
  overflow: hidden;
  -webkit-transform: translateY(-25rem);
  -moz-transform: translateY(-25rem);
  -o-transform: translateY(-25rem);
  -ms-transform: translateY(-25rem);
  transform: translateY(-25rem);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  transition: transform 0.2s;
}
.notice .copy {
  font-family: ApexNewLight;
  font-size: 1.2em;
  text-align: center;
  padding: 40px 0;
}
.notice .cta {
  cursor: pointer;
  float: right;
  font-size: 2em;
  margin: 0 20px 10px 0;
}
.notice .cta:hover {
  color: #009ec1;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.notice.on {
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -o-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  transform: translateY(0rem);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  transition: transform 0.2s;
}
.fade {
  position: fixed;
  z-index: 20;
  top: 0px;
  width: 100%;
  height: 0;
  background-color: rgba(0,0,0,0.9);
}
.fade.on {
  height: 100%;
}
.circle {
  position: absolute;
  z-index: 5;
  top: 200px;
  left: 100px;
  width: 600px;
  height: 600px;
  text-align: center;
  display: none;
}
.circle .chooser,
.circle .correct,
.circle .wrong {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.circle .chooser.on,
.circle .correct.on,
.circle .wrong.on {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.circle .chooser .choose,
.circle .correct .choose,
.circle .wrong .choose {
  cursor: pointer;
  display: inline-block;
  border: 2px solid #fff;
  font-size: 1.5em;
  margin: 450px 20px;
  padding: 10px 20px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.circle .chooser .choose:hover,
.circle .correct .choose:hover,
.circle .wrong .choose:hover {
  background-color: #009ec1;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.circle .correct,
.circle .wrong {
  background-color: rgba(0,0,0,0.65);
}
.circle .correct > .title,
.circle .wrong > .title {
  font-size: 4em;
  margin: 150px 0 0 0;
}
.circle .correct > .copy,
.circle .wrong > .copy {
  font-family: ApexNewLight;
  margin: 50px auto 0 auto;
  width: 300px;
}
.circle .correct > .cta,
.circle .wrong > .cta {
  cursor: pointer;
  font-size: 2.5em;
  margin: 50px 0 0 0;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.circle .correct > .cta:hover,
.circle .wrong > .cta:hover {
  color: #009ec1;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'AirNewzealand', tahoma, verdana;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  position: relative;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  overflow: hidden;
  position: relative;
  width: 810px;
  margin: auto;
  padding: 0;
}
.loader {
  background-color: #000;
  padding: 60px 0 0 0;
  height: 791px;
}
.loader .copy {
  margin: 100px 0 20px 0;
  text-align: center;
  font-size: 2em;
  font-family: ApexNewLight;
}
.loader .progress {
  width: 600px;
  height: 40px;
  border: 1px solid #fff;
  margin: auto;
}
.loader .progress .inner {
  float: left;
  background-color: #fff;
  width: 1px;
  height: 36px;
  border: 2px solid #000;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
  -ms-transition: width 2s;
  transition: width 2s;
}
.body {
  background-color: #000;
  padding: 60px 0 0 0;
  height: 791px;
  display: none;
}
.body .titles {
  position: relative;
  z-index: 10;
  padding: 0 0 0 40px;
}
.body .titles .copy1,
.body .titles .copy3 {
  font-family: ApexNewLight;
}
.body .titles .copy2 {
  font-size: 3em;
}
.body .titles .copy3 {
  padding: 10px 0 0 0;
}
.body .bubbles.hidden {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.body .bubbles {
  position: relative;
  z-index: 10;
  margin: 80px auto 0 auto;
  width: 640px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.body .bubbles .bubbleLeft {
  -webkit-animation: fromLeft 0.5s 1.25s ease both;
  -moz-animation: fromLeft 0.5s 1.25s ease both;
  -o-animation: fromLeft 0.5s 1.25s ease both;
  -ms-animation: fromLeft 0.5s 1.25s ease both;
  animation: fromLeft 0.5s 1.25s ease both;
}
.body .bubbles .bubbleRight {
  -webkit-animation: fromRight 0.5s 1.5s ease both;
  -moz-animation: fromRight 0.5s 1.5s ease both;
  -o-animation: fromRight 0.5s 1.5s ease both;
  -ms-animation: fromRight 0.5s 1.5s ease both;
  animation: fromRight 0.5s 1.5s ease both;
}
.body .bubbles .bubble {
  float: left;
  cursor: pointer;
  width: 300px;
  height: 300px;
  margin: 0 10px;
  background-color: rgba(0,0,0,0.65);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.body .bubbles .bubble:hover {
  background-color: rgba(0,158,193,0.65);
}
.body .bubbles .bubble:hover .copy {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.body .bubbles .bubble > .copy {
  font-size: 2.5em;
  text-align: center;
  margin: 120px 0 0 0;
}
.body .bubbles .bubble > .copy > .smaller {
  font-family: ApexNewLight;
  font-size: 0.5em;
}
.footer {
  text-align: center;
}
.footer .copy1 {
  font-family: ApexNewLight;
  font-size: 1.2em;
  line-height: 1.3em;
}
.footer .copy2 {
  font-family: ApexNewLight;
  padding: 20px 20px 0 20px;
  font-size: 0.9em;
  line-height: 1em;
}
.images {
  position: absolute;
  z-index: 1;
}
.images .image {
  position: absolute;
  width: 810px;
  height: 791px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  -ms-transition: opacity 2s;
  transition: opacity 2s;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.images .image.show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  -ms-transition: opacity 2s;
  transition: opacity 2s;
}
.images .image.image0,
.images .image.iname_beachhouses.png {
  background-image: url("/img/game/beachhouses.png");
}
.images .image.image1,
.images .image.iname_citycouple.png {
  background-image: url("/img/game/citycouple.png");
}
.images .image.image2,
.images .image.iname_paddleboard.png {
  background-image: url("/img/game/paddleboard.png");
}
.images .image.image3,
.images .image.iname_skyfloor.png {
  background-image: url("/img/game/skyfloor.png");
}
.images .image.image4,
.images .image.iname_trainstation.png {
  background-image: url("/img/game/trainstation.png");
}
.images .image.image5,
.images .image.iname_wineladies.png {
  background-image: url("/img/game/wineladies.png");
}
.images .image.image6,
.images .image.iname_boatwoman.png {
  background-image: url("/img/game/boatwoman.png");
}
.images .image.image7,
.images .image.iname_coffee.png {
  background-image: url("/img/game/coffee.png");
}
.images .image.image8,
.images .image.iname_eyeball.png {
  background-image: url("/img/game/eyeball.png");
}
.images .image.image9,
.images .image.iname_oceanwoman.png {
  background-image: url("/img/game/oceanwoman.png");
}
.images .image.image10,
.images .image.iname_road.png {
  background-image: url("/img/game/road.png");
}
.images .image.image11,
.images .image.iname_beachcrowd.png {
  background-image: url("/img/game/beachcrowd.png");
}
.images .image.image12,
.images .image.iname_womantrees.png {
  background-image: url("/img/game/womantrees.png");
}
.images .image.image13,
.images .image.iname_beachgroup.png {
  background-image: url("/img/game/beachgroup.png");
}
.images .image.image14,
.images .image.iname_beachjumpgirl.png {
  background-image: url("/img/game/beachjumpgirl.png");
}
.images .image.image15,
.images .image.iname_doghill.png {
  background-image: url("/img/game/doghill.png");
}
.images .image.image16,
.images .image.iname_houses.png {
  background-image: url("/img/game/houses.png");
}
.images .image.image17,
.images .image.iname_outlawsbar.png {
  background-image: url("/img/game/outlawsbar.png");
}
.images .image.image18,
.images .image.iname_parkwoman.png {
  background-image: url("/img/game/parkwoman.png");
}
.images .gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 810px;
  height: 791px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000), color-stop(0.2, transparent), color-stop(0.8, transparent), color-stop(1, #000));
  background: -webkit-linear-gradient(top, #000 0%, transparent 20%, transparent 80%, #000 100%);
  background: -moz-linear-gradient(top, #000 0%, transparent 20%, transparent 80%, #000 100%);
  background: -o-linear-gradient(top, #000 0%, transparent 20%, transparent 80%, #000 100%);
  background: -ms-linear-gradient(top, #000 0%, transparent 20%, transparent 80%, #000 100%);
  background: linear-gradient(top, #000 0%, transparent 20%, transparent 80%, #000 100%);
  -webkit-box-shadow: inset 0px 0px 100px 10px rgba(0,0,0,0.8);
  box-shadow: inset 0px 0px 100px 10px rgba(0,0,0,0.8);
}
@-moz-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
