@font-face {
  font-family: 'AirNewzealand';
  src: url("/css/fnt/airnewzaldblackitalic.eot");
  src: url("/css/fnt/airnewzaldblackitalic.eot?#iefix") format('embedded-opentype'), url("/css/fnt/airnewzaldblackitalic.woff") format('woff'), url("/css/fnt/airnewzaldblackitalic.ttf") format('truetype'), url("/css/fnt/airnewzaldblackitalic.svg#airnewzaldblackitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewBook';
  src: url("/css/fnt/apexnewbook.eot");
  src: url("/css/fnt/apexnewbook.eot?#iefix") format('embedded-opentype'), url("/css/fnt/apexnewbook.woff") format('woff'), url("/css/fnt/apexnewbook.ttf") format('truetype'), url("/css/fnt/apexnewbook.svg#apexnewbook") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewLight';
  src: url("/css/fnt/apexnewlight.eot");
  src: url("/css/fnt/apexnewlight.eot?#iefix") format('embedded-opentype'), url("/css/fnt/apexnewlight.woff") format('woff'), url("/css/fnt/apexnewlight.ttf") format('truetype'), url("/css/fnt/apexnewlight.svg#apexnewlight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewMedium';
  src: url("/css/fnt/apexnewmedium.eot");
  src: url("/css/fnt/apexnewmedium.eot?#iefix") format('embedded-opentype'), url("/css/fnt/apexnewmedium.woff") format('woff'), url("/css/fnt/apexnewmedium.ttf") format('truetype'), url("/css/fnt/apexnewmedium.svg#apexnewmedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
.header .nzo {
  float: right;
  background-image: url("/img/anz_logo.png");
  width: 246px;
  height: 40px;
  margin: 10px 10px 0 0;
}
.header .sfo {
  float: left;
  background-image: url("/img/sfologo.png");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  width: 113px;
  height: 60px;
  margin: 0 0 0 10px;
}
.dashboard {
  position: absolute;
  top: 150px;
  right: 0px;
  z-index: 20;
  -webkit-transform: matrix(1, 0, 0, 1, 110, 0);
  -moz-transform: matrix(1, 0, 0, 1, 110, 0);
  -o-transform: matrix(1, 0, 0, 1, 110, 0);
  -ms-transform: matrix(1, 0, 0, 1, 110, 0);
  transform: matrix(1, 0, 0, 1, 110, 0);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.dashboard.closed {
  -webkit-transform: matrix(1, 0, 0, 1, 161, 0);
  -moz-transform: matrix(1, 0, 0, 1, 161, 0);
  -o-transform: matrix(1, 0, 0, 1, 161, 0);
  -ms-transform: matrix(1, 0, 0, 1, 161, 0);
  transform: matrix(1, 0, 0, 1, 161, 0);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.dashboard:hover,
.dashboard.open {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.dashboard .step {
  cursor: pointer;
  width: 140px;
  height: 30px;
  padding: 10px;
  background-color: rgba(0,0,0,0.65);
}
.dashboard .step.bounce .icon {
  -webkit-animation: tada 2s ease-out 0.2s;
  -moz-animation: tada 2s ease-out 0.2s;
  -o-animation: tada 2s ease-out 0.2s;
  -ms-animation: tada 2s ease-out 0.2s;
  animation: tada 2s ease-out 0.2s;
}
.dashboard .step.on {
  color: #fff;
  background-color: rgba(0,158,193,0.65);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,158,193,0.5);
  box-shadow: 0px 0px 30px 0px rgba(0,158,193,0.5);
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
  -o-transition: 2s ease;
  -ms-transition: 2s ease;
  transition: 2s ease;
}
.dashboard .step:hover {
  text-shadow: 0px 0px 10px #009ec1;
}
.dashboard .step.iregister {
  -webkit-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
}
.dashboard .step.ilike {
  border: none;
}
.dashboard .step.ishare {
  -webkit-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
}
.dashboard .step .icon {
  float: left;
  width: 30px;
  height: 30px;
}
.dashboard .step .icon img {
  width: 30px;
  height: 30px;
}
.dashboard .step .copy {
  line-height: 40px;
  font-family: ApexNewBook;
  margin: 0 0 0 60px;
}
.dashboard .step .copy .posth {
  display: none;
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  10% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  20% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -6);
    -moz-transform: matrix(1, 0, 0, 1, 0, -6);
    -o-transform: matrix(1, 0, 0, 1, 0, -6);
    -ms-transform: matrix(1, 0, 0, 1, 0, -6);
    transform: matrix(1, 0, 0, 1, 0, -6);
  }

  30% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -13);
    -moz-transform: matrix(1, 0, 0, 1, 0, -13);
    -o-transform: matrix(1, 0, 0, 1, 0, -13);
    -ms-transform: matrix(1, 0, 0, 1, 0, -13);
    transform: matrix(1, 0, 0, 1, 0, -13);
  }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 10);
    -moz-transform: matrix(1, 0, 0, 1, 0, 10);
    -o-transform: matrix(1, 0, 0, 1, 0, 10);
    -ms-transform: matrix(1, 0, 0, 1, 0, 10);
    transform: matrix(1, 0, 0, 1, 0, 10);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 5);
    -moz-transform: matrix(1, 0, 0, 1, 0, 5);
    -o-transform: matrix(1, 0, 0, 1, 0, 5);
    -ms-transform: matrix(1, 0, 0, 1, 0, 5);
    transform: matrix(1, 0, 0, 1, 0, 5);
  }

  80% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  90% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  10% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  20% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -6);
    -moz-transform: matrix(1, 0, 0, 1, 0, -6);
    -o-transform: matrix(1, 0, 0, 1, 0, -6);
    -ms-transform: matrix(1, 0, 0, 1, 0, -6);
    transform: matrix(1, 0, 0, 1, 0, -6);
  }

  30% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -13);
    -moz-transform: matrix(1, 0, 0, 1, 0, -13);
    -o-transform: matrix(1, 0, 0, 1, 0, -13);
    -ms-transform: matrix(1, 0, 0, 1, 0, -13);
    transform: matrix(1, 0, 0, 1, 0, -13);
  }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 10);
    -moz-transform: matrix(1, 0, 0, 1, 0, 10);
    -o-transform: matrix(1, 0, 0, 1, 0, 10);
    -ms-transform: matrix(1, 0, 0, 1, 0, 10);
    transform: matrix(1, 0, 0, 1, 0, 10);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 5);
    -moz-transform: matrix(1, 0, 0, 1, 0, 5);
    -o-transform: matrix(1, 0, 0, 1, 0, 5);
    -ms-transform: matrix(1, 0, 0, 1, 0, 5);
    transform: matrix(1, 0, 0, 1, 0, 5);
  }

  80% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  90% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  10% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  20% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -6);
    -moz-transform: matrix(1, 0, 0, 1, 0, -6);
    -o-transform: matrix(1, 0, 0, 1, 0, -6);
    -ms-transform: matrix(1, 0, 0, 1, 0, -6);
    transform: matrix(1, 0, 0, 1, 0, -6);
  }

  30% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -13);
    -moz-transform: matrix(1, 0, 0, 1, 0, -13);
    -o-transform: matrix(1, 0, 0, 1, 0, -13);
    -ms-transform: matrix(1, 0, 0, 1, 0, -13);
    transform: matrix(1, 0, 0, 1, 0, -13);
  }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 10);
    -moz-transform: matrix(1, 0, 0, 1, 0, 10);
    -o-transform: matrix(1, 0, 0, 1, 0, 10);
    -ms-transform: matrix(1, 0, 0, 1, 0, 10);
    transform: matrix(1, 0, 0, 1, 0, 10);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 5);
    -moz-transform: matrix(1, 0, 0, 1, 0, 5);
    -o-transform: matrix(1, 0, 0, 1, 0, 5);
    -ms-transform: matrix(1, 0, 0, 1, 0, 5);
    transform: matrix(1, 0, 0, 1, 0, 5);
  }

  80% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  90% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@-ms-keyframes bounce {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  10% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  20% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -6);
    -moz-transform: matrix(1, 0, 0, 1, 0, -6);
    -o-transform: matrix(1, 0, 0, 1, 0, -6);
    -ms-transform: matrix(1, 0, 0, 1, 0, -6);
    transform: matrix(1, 0, 0, 1, 0, -6);
  }

  30% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -13);
    -moz-transform: matrix(1, 0, 0, 1, 0, -13);
    -o-transform: matrix(1, 0, 0, 1, 0, -13);
    -ms-transform: matrix(1, 0, 0, 1, 0, -13);
    transform: matrix(1, 0, 0, 1, 0, -13);
  }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 10);
    -moz-transform: matrix(1, 0, 0, 1, 0, 10);
    -o-transform: matrix(1, 0, 0, 1, 0, 10);
    -ms-transform: matrix(1, 0, 0, 1, 0, 10);
    transform: matrix(1, 0, 0, 1, 0, 10);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 5);
    -moz-transform: matrix(1, 0, 0, 1, 0, 5);
    -o-transform: matrix(1, 0, 0, 1, 0, 5);
    -ms-transform: matrix(1, 0, 0, 1, 0, 5);
    transform: matrix(1, 0, 0, 1, 0, 5);
  }

  80% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  90% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  10% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  20% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -6);
    -moz-transform: matrix(1, 0, 0, 1, 0, -6);
    -o-transform: matrix(1, 0, 0, 1, 0, -6);
    -ms-transform: matrix(1, 0, 0, 1, 0, -6);
    transform: matrix(1, 0, 0, 1, 0, -6);
  }

  30% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -13);
    -moz-transform: matrix(1, 0, 0, 1, 0, -13);
    -o-transform: matrix(1, 0, 0, 1, 0, -13);
    -ms-transform: matrix(1, 0, 0, 1, 0, -13);
    transform: matrix(1, 0, 0, 1, 0, -13);
  }

  40% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 10);
    -moz-transform: matrix(1, 0, 0, 1, 0, 10);
    -o-transform: matrix(1, 0, 0, 1, 0, 10);
    -ms-transform: matrix(1, 0, 0, 1, 0, 10);
    transform: matrix(1, 0, 0, 1, 0, 10);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
    -moz-transform: matrix(1, 0, 0, 1, 0, -20);
    -o-transform: matrix(1, 0, 0, 1, 0, -20);
    -ms-transform: matrix(1, 0, 0, 1, 0, -20);
    transform: matrix(1, 0, 0, 1, 0, -20);
  }

  70% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 5);
    -moz-transform: matrix(1, 0, 0, 1, 0, 5);
    -o-transform: matrix(1, 0, 0, 1, 0, 5);
    -ms-transform: matrix(1, 0, 0, 1, 0, 5);
    transform: matrix(1, 0, 0, 1, 0, 5);
  }

  80% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  90% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@-moz-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-5deg);
    -moz-transform: scale(0.9) rotate(-5deg);
    -o-transform: scale(0.9) rotate(-5deg);
    -ms-transform: scale(0.9) rotate(-5deg);
    transform: scale(0.9) rotate(-5deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.5) rotate(5deg);
    -moz-transform: scale(1.5) rotate(5deg);
    -o-transform: scale(1.5) rotate(5deg);
    -ms-transform: scale(1.5) rotate(5deg);
    transform: scale(1.5) rotate(5deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.5) rotate(-5deg);
    -moz-transform: scale(1.5) rotate(-5deg);
    -o-transform: scale(1.5) rotate(-5deg);
    -ms-transform: scale(1.5) rotate(-5deg);
    transform: scale(1.5) rotate(-5deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-5deg);
    -moz-transform: scale(0.9) rotate(-5deg);
    -o-transform: scale(0.9) rotate(-5deg);
    -ms-transform: scale(0.9) rotate(-5deg);
    transform: scale(0.9) rotate(-5deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.5) rotate(5deg);
    -moz-transform: scale(1.5) rotate(5deg);
    -o-transform: scale(1.5) rotate(5deg);
    -ms-transform: scale(1.5) rotate(5deg);
    transform: scale(1.5) rotate(5deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.5) rotate(-5deg);
    -moz-transform: scale(1.5) rotate(-5deg);
    -o-transform: scale(1.5) rotate(-5deg);
    -ms-transform: scale(1.5) rotate(-5deg);
    transform: scale(1.5) rotate(-5deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@-o-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-5deg);
    -moz-transform: scale(0.9) rotate(-5deg);
    -o-transform: scale(0.9) rotate(-5deg);
    -ms-transform: scale(0.9) rotate(-5deg);
    transform: scale(0.9) rotate(-5deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.5) rotate(5deg);
    -moz-transform: scale(1.5) rotate(5deg);
    -o-transform: scale(1.5) rotate(5deg);
    -ms-transform: scale(1.5) rotate(5deg);
    transform: scale(1.5) rotate(5deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.5) rotate(-5deg);
    -moz-transform: scale(1.5) rotate(-5deg);
    -o-transform: scale(1.5) rotate(-5deg);
    -ms-transform: scale(1.5) rotate(-5deg);
    transform: scale(1.5) rotate(-5deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@-ms-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-5deg);
    -moz-transform: scale(0.9) rotate(-5deg);
    -o-transform: scale(0.9) rotate(-5deg);
    -ms-transform: scale(0.9) rotate(-5deg);
    transform: scale(0.9) rotate(-5deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.5) rotate(5deg);
    -moz-transform: scale(1.5) rotate(5deg);
    -o-transform: scale(1.5) rotate(5deg);
    -ms-transform: scale(1.5) rotate(5deg);
    transform: scale(1.5) rotate(5deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.5) rotate(-5deg);
    -moz-transform: scale(1.5) rotate(-5deg);
    -o-transform: scale(1.5) rotate(-5deg);
    -ms-transform: scale(1.5) rotate(-5deg);
    transform: scale(1.5) rotate(-5deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-5deg);
    -moz-transform: scale(0.9) rotate(-5deg);
    -o-transform: scale(0.9) rotate(-5deg);
    -ms-transform: scale(0.9) rotate(-5deg);
    transform: scale(0.9) rotate(-5deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.5) rotate(5deg);
    -moz-transform: scale(1.5) rotate(5deg);
    -o-transform: scale(1.5) rotate(5deg);
    -ms-transform: scale(1.5) rotate(5deg);
    transform: scale(1.5) rotate(5deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.5) rotate(-5deg);
    -moz-transform: scale(1.5) rotate(-5deg);
    -o-transform: scale(1.5) rotate(-5deg);
    -ms-transform: scale(1.5) rotate(-5deg);
    transform: scale(1.5) rotate(-5deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
.register {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 790px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 25;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  background-color: rgba(0,0,0,0.9);
  padding: 50px 0 100px 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s ease-in-out 0.5s;
  -moz-transition: opacity 0.5s ease-in-out 0.5s;
  -o-transition: opacity 0.5s ease-in-out 0.5s;
  -ms-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s;
}
.register.hidden {
  height: 1px;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.5s ease-in-out 0.5s;
  -moz-transition: opacity 0.5s ease-in-out 0.5s;
  -o-transition: opacity 0.5s ease-in-out 0.5s;
  -ms-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s;
}
.register.off {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.register > .title {
  margin: 100px 0 0 0;
  text-align: center;
  font-size: 3em;
}
.register > .copy {
  padding: 20px 120px;
  font-family: ApexNewBook;
  text-align: center;
  font-size: 1em;
  line-height: 1.1em;
}
.register > .form > .right {
  float: right;
  width: 395px;
}
.register > .form .option {
  padding: 10px 0 0 0;
}
.register > .form .option.emailoption {
  padding: 27px 0 0 0;
}
.register > .form .checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.7);
  box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.7);
  margin: 0 0 0 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  border: 2px solid #000;
}
.register > .form .checkbox.checked {
  background-color: #009ec1;
  -webkit-box-shadow: 0 0 5px 0 #009ec1;
  box-shadow: 0 0 5px 0 #009ec1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  border: 2px solid rgba(255,255,255,0.65);
}
.register > .form .label {
  font-family: ApexNewMedium;
  font-size: 1em;
  padding: 10px;
}
.register > .form .copy {
  float: left;
  font-family: ApexNewBook;
  font-size: 0.9em;
  margin: 0 0 0 40px;
}
.register > .form .copy.agree {
  padding: 5px 0 0 0;
}
.register > .form .copy.agree a {
  color: #fff;
}
.register > .left {
  float: left;
  width: 395px;
  border: 1px solid #f00;
  padding: 0 0 20px 0;
}
.register .input {
  background-color: #fff;
  width: 340px;
  padding: 5px 10px;
  margin: 0 0 0 10px;
  -webkit-box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.7);
  box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.7);
}
.register .input input {
  outline: none;
  font-family: ApexNewBook;
  font-size: 1em;
  line-height: 1.1em;
  border: none;
  width: 320px;
}
.register > .submit {
  float: right;
  font-size: 3em;
  margin: 20px 10px 0 20px;
  padding: 0 20px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}
.register > .submit:hover {
  color: #009ec1;
}
.post {
  position: absolute;
  display: none;
  top: 200px;
  left: 10px;
  width: 790px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 10;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  padding: 100px 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.post.on {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.post > .title {
  font-size: 3em;
}
.post > .arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 70px;
  height: 70px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin: 20px auto;
  background: url("/img/arrow.png");
  -webkit-animation: arrow 6s ease-in 0s both;
  -moz-animation: arrow 6s ease-in 0s both;
  -o-animation: arrow 6s ease-in 0s both;
  -ms-animation: arrow 6s ease-in 0s both;
  animation: arrow 6s ease-in 0s both;
}
.post > .copy {
  font-family: ApexNewBook;
  font-size: 1.2em;
  line-height: 1.3em;
  width: 575px;
  margin: 50px auto;
}
.post > .share {
  font-size: 2em;
  cursor: pointer;
}
@-moz-keyframes arrow {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  20% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 350, 0);
    -moz-transform: matrix(1, 0, 0, 1, 350, 0);
    -o-transform: matrix(1, 0, 0, 1, 350, 0);
    -ms-transform: matrix(1, 0, 0, 1, 350, 0);
    transform: matrix(1, 0, 0, 1, 350, 0);
  }

  70% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, 0);
    -moz-transform: matrix(0, -1, 1, 0, 350, 0);
    -o-transform: matrix(0, -1, 1, 0, 350, 0);
    -ms-transform: matrix(0, -1, 1, 0, 350, 0);
    transform: matrix(0, -1, 1, 0, 350, 0);
  }

  80% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
  }

  100% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  20% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 350, 0);
    -moz-transform: matrix(1, 0, 0, 1, 350, 0);
    -o-transform: matrix(1, 0, 0, 1, 350, 0);
    -ms-transform: matrix(1, 0, 0, 1, 350, 0);
    transform: matrix(1, 0, 0, 1, 350, 0);
  }

  70% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, 0);
    -moz-transform: matrix(0, -1, 1, 0, 350, 0);
    -o-transform: matrix(0, -1, 1, 0, 350, 0);
    -ms-transform: matrix(0, -1, 1, 0, 350, 0);
    transform: matrix(0, -1, 1, 0, 350, 0);
  }

  80% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
  }

  100% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes arrow {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  20% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 350, 0);
    -moz-transform: matrix(1, 0, 0, 1, 350, 0);
    -o-transform: matrix(1, 0, 0, 1, 350, 0);
    -ms-transform: matrix(1, 0, 0, 1, 350, 0);
    transform: matrix(1, 0, 0, 1, 350, 0);
  }

  70% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, 0);
    -moz-transform: matrix(0, -1, 1, 0, 350, 0);
    -o-transform: matrix(0, -1, 1, 0, 350, 0);
    -ms-transform: matrix(0, -1, 1, 0, 350, 0);
    transform: matrix(0, -1, 1, 0, 350, 0);
  }

  80% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
  }

  100% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes arrow {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  20% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 350, 0);
    -moz-transform: matrix(1, 0, 0, 1, 350, 0);
    -o-transform: matrix(1, 0, 0, 1, 350, 0);
    -ms-transform: matrix(1, 0, 0, 1, 350, 0);
    transform: matrix(1, 0, 0, 1, 350, 0);
  }

  70% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, 0);
    -moz-transform: matrix(0, -1, 1, 0, 350, 0);
    -o-transform: matrix(0, -1, 1, 0, 350, 0);
    -ms-transform: matrix(0, -1, 1, 0, 350, 0);
    transform: matrix(0, -1, 1, 0, 350, 0);
  }

  80% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
  }

  100% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  20% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  60% {
    -webkit-transform: matrix(1, 0, 0, 1, 350, 0);
    -moz-transform: matrix(1, 0, 0, 1, 350, 0);
    -o-transform: matrix(1, 0, 0, 1, 350, 0);
    -ms-transform: matrix(1, 0, 0, 1, 350, 0);
    transform: matrix(1, 0, 0, 1, 350, 0);
  }

  70% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, 0);
    -moz-transform: matrix(0, -1, 1, 0, 350, 0);
    -o-transform: matrix(0, -1, 1, 0, 350, 0);
    -ms-transform: matrix(0, -1, 1, 0, 350, 0);
    transform: matrix(0, -1, 1, 0, 350, 0);
  }

  80% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
  }

  100% {
    -webkit-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -moz-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -o-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    -ms-transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    transform: matrix(0, -1, 1, 0, 350, -550) scale(2);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
.notice {
  position: fixed;
  width: 600px;
  top: 200px;
  left: 50%;
  margin-left: -300px;
  z-index: 25;
  background-color: rgba(0,0,0,0.9);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.5);
  box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.5);
  overflow: hidden;
  -webkit-transform: translateY(-25rem);
  -moz-transform: translateY(-25rem);
  -o-transform: translateY(-25rem);
  -ms-transform: translateY(-25rem);
  transform: translateY(-25rem);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  transition: transform 0.2s;
}
.notice .copy {
  font-family: ApexNewBook;
  font-size: 1.2em;
  text-align: center;
  padding: 40px;
}
.notice .cta {
  cursor: pointer;
  float: right;
  font-size: 2em;
  margin: 0 20px 10px 0;
}
.notice .cta:hover {
  color: #009ec1;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.notice.on {
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -o-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  transform: translateY(0rem);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  transition: transform 0.2s;
}
.fade {
  position: fixed;
  z-index: 20;
  top: 0px;
  width: 100%;
  height: 0;
  background-color: rgba(0,0,0,0.9);
}
.fade.on {
  height: 100%;
}
.circle {
  position: absolute;
  z-index: 5;
  top: 250px;
  left: 150px;
  width: 500px;
  height: 500px;
  text-align: center;
  display: none;
}
.circle .chooser,
.circle .correct,
.circle .wrong,
.circle .finished {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.circle .chooser .choose,
.circle .correct .choose,
.circle .wrong .choose,
.circle .finished .choose {
  cursor: pointer;
  display: inline-block;
  background-color: rgba(0,0,0,0.65);
  font-size: 1.5em;
  padding: 10px 20px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.circle .chooser .choose:hover,
.circle .correct .choose:hover,
.circle .wrong .choose:hover,
.circle .finished .choose:hover {
  background-color: rgba(0,158,193,0.65);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.circle .chooser .choose.cnz,
.circle .correct .choose.cnz,
.circle .wrong .choose.cnz,
.circle .finished .choose.cnz {
  margin: 50px 80px 0 0;
}
.circle .chooser .choose.csf,
.circle .correct .choose.csf,
.circle .wrong .choose.csf,
.circle .finished .choose.csf {
  margin: 50px 0 0 80px;
}
.circle .correct,
.circle .wrong,
.circle .finished {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.circle .correct.on,
.circle .wrong.on,
.circle .finished.on {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.circle .chooser {
  -webkit-transform: translateY(50rem);
  -moz-transform: translateY(50rem);
  -o-transform: translateY(50rem);
  -ms-transform: translateY(50rem);
  transform: translateY(50rem);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.circle .chooser.on {
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -o-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  transform: translateY(0rem);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.circle .correct,
.circle .wrong {
  background-color: rgba(0,0,0,0.65);
}
.circle .correct > .title,
.circle .wrong > .title {
  font-size: 4em;
  margin: 100px 0 0 0;
}
.circle .correct > .copy,
.circle .wrong > .copy {
  font-family: ApexNewBook;
  margin: 20px auto 0 auto;
  width: 350px;
  line-height: 1.2em;
}
.circle .correct > .cta,
.circle .wrong > .cta {
  cursor: pointer;
  font-size: 2.5em;
  margin: 50px 0 0 0;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.circle .correct > .cta:hover,
.circle .wrong > .cta:hover {
  color: #009ec1;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.circle .finished {
  background-color: rgba(0,0,0,0.65);
}
.circle .finished > .title {
  font-size: 2.5em;
  margin: 100px 0 0 0;
}
.circle .finished > .copyA {
  font-family: ApexNewBook;
  font-size: 1em;
}
.circle .finished > .score {
  font-size: 4em;
  margin: 10px 0 0 0;
}
.circle .finished > .copyB {
  font-family: ApexNewBook;
  font-size: 0.8em;
  padding: 10px 50px;
}
.circle .finished > .copyB.winner,
.circle .finished > .copyB.loser {
  display: none;
}
.circle .finished > .ctas {
  width: 510px;
  margin: auto;
  text-align: center;
  margin: 10px 0 0 43px;
  font-size: 1.4em;
}
.circle .finished > .ctas > .cta {
  cursor: pointer;
  width: 162px;
  float: left;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.circle .finished > .ctas > .cta:hover {
  color: #009ec1;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.circle .finished > .ctas > .cta.share {
  margin: 12px 0 0 0;
}
.circle .finished > .ctas > .cta.more {
  font-size: 1.4em;
  margin: 100px 0 0 -40px;
  width: 141px;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'AirNewzealand', tahoma, verdana;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  position: relative;
  width: 810px;
  height: 986px;
  overflow: hidden;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  overflow: hidden;
  position: relative;
  width: 810px;
  margin: auto;
  padding: 0;
}
.loader {
  background-color: #000;
  padding: 60px 0 0 0;
  height: 791px;
}
.loader .copy {
  margin: 100px 0 20px 0;
  text-align: center;
  font-size: 1.5em;
  font-family: ApexNewBook;
}
.loader .dots {
  width: 600px;
  height: 25px;
  margin: auto;
}
.loader .dots .dot {
  display: inline-block;
  margin: 0 8px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #000;
  -webkit-box-shadow: inset 0px 10px 5px -2px rgba(255,255,255,0.5);
  box-shadow: inset 0px 10px 5px -2px rgba(255,255,255,0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.loader .dots .dot.filled {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 5px 0px #fff;
  box-shadow: 0px 0px 5px 0px #fff;
  background-color: #fff;
}
.body {
  background-color: #000;
  padding: 60px 0 0 0;
  height: 791px;
  display: none;
}
.body .titles {
  position: relative;
  z-index: 10;
  padding: 0 0 0 40px;
}
.body .titles .copy1,
.body .titles .copy3 {
  font-family: ApexNewBook;
}
.body .titles .copy1 {
  font-size: 1.4em;
}
.body .titles .copy2 {
  font-size: 3em;
}
.body .titles .copy3 {
  padding: 10px 0 0 0;
  line-height: 1.2em;
}
.body .bubbles.hidden {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.body .bubbles {
  position: relative;
  z-index: 10;
  margin: 80px auto 0 auto;
  width: 640px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.body .bubbles .bubbleLeft {
  -webkit-animation: fromLeft 0.5s 1.25s ease both;
  -moz-animation: fromLeft 0.5s 1.25s ease both;
  -o-animation: fromLeft 0.5s 1.25s ease both;
  -ms-animation: fromLeft 0.5s 1.25s ease both;
  animation: fromLeft 0.5s 1.25s ease both;
}
.body .bubbles .bubbleRight {
  -webkit-animation: fromRight 0.5s 1.5s ease both;
  -moz-animation: fromRight 0.5s 1.5s ease both;
  -o-animation: fromRight 0.5s 1.5s ease both;
  -ms-animation: fromRight 0.5s 1.5s ease both;
  animation: fromRight 0.5s 1.5s ease both;
}
.body .bubbles .bubble {
  float: left;
  cursor: pointer;
  width: 300px;
  height: 300px;
  margin: 0 10px;
  background-color: rgba(0,0,0,0.65);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.body .bubbles .bubble.bubbleRight .copy > .smaller {
  font-size: 0.4em;
}
.body .bubbles .bubble:hover {
  background-color: rgba(0,158,193,0.65);
}
.body .bubbles .bubble:hover .copy {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.body .bubbles .bubble > .copy {
  font-size: 2.5em;
  text-align: center;
  margin: 120px 0 0 0;
}
.body .bubbles .bubble > .copy > .smaller {
  font-family: ApexNewBook;
  font-size: 0.5em;
  line-height: 1.3em;
}
.footer .booknow {
  font-family: ApexNewBook;
  float: right;
  padding: 25px 20px 20px 0;
}
.footer .booknow a {
  color: #fff;
}
.footer .copy1 {
  text-align: center;
  font-family: ApexNewBook;
  font-size: 1.2em;
  line-height: 1.3em;
}
.footer .copy2 {
  text-align: left;
  font-family: ApexNewBook;
  padding: 30px 0 0 20px;
  font-size: 0.8em;
  line-height: 1em;
}
.footer .copy2 a {
  color: #fff;
}
.images {
  position: absolute;
  z-index: 1;
}
.images .image {
  position: absolute;
  width: 810px;
  height: 791px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  -ms-transition: opacity 2s;
  transition: opacity 2s;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.images .image.show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  -ms-transition: opacity 2s;
  transition: opacity 2s;
}
.images .gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 810px;
  height: 791px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000), color-stop(0.4, transparent), color-stop(0.8, transparent), color-stop(1, #000));
  background: -webkit-linear-gradient(top, #000 0%, transparent 40%, transparent 80%, #000 100%);
  background: -moz-linear-gradient(top, #000 0%, transparent 40%, transparent 80%, #000 100%);
  background: -o-linear-gradient(top, #000 0%, transparent 40%, transparent 80%, #000 100%);
  background: -ms-linear-gradient(top, #000 0%, transparent 40%, transparent 80%, #000 100%);
  background: linear-gradient(top, #000 0%, transparent 40%, transparent 80%, #000 100%);
  -webkit-box-shadow: inset 0px 0px 100px 10px rgba(0,0,0,0.8);
  box-shadow: inset 0px 0px 100px 10px rgba(0,0,0,0.8);
}
@-moz-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-25rem) rotate(180deg);
    -moz-transform: translateX(-25rem) rotate(180deg);
    -o-transform: translateX(-25rem) rotate(180deg);
    -ms-transform: translateX(-25rem) rotate(180deg);
    transform: translateX(-25rem) rotate(180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes fromRight {
  0% {
    -webkit-transform: translateX(25rem) rotate(-180deg);
    -moz-transform: translateX(25rem) rotate(-180deg);
    -o-transform: translateX(25rem) rotate(-180deg);
    -ms-transform: translateX(25rem) rotate(-180deg);
    transform: translateX(25rem) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
