@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'ApexNewLight', tahoma, verdana;
  font-size: 12px;
  color: #fff;
  background-color: #000;
}
.logos {
  float: left;
  margin: 20px;
}
.logos img {
  width: 48px;
}
.logo {
  float: right;
  margin: 20px;
}
.logo img {
  width: 123px;
}
.temp {
  font-size: 2em;
  margin: 100px 50px;
  text-align: center;
}
