
Authtype Basic
AuthName "password required"
AuthUserFile /var/www/nzo/passwd
#Require user nz

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php
