
@font-face 
  font-family 'AirNewzealand'
  src url('/css/fnt/airnewzaldblackitalic.eot')
  src url('/css/fnt/airnewzaldblackitalic.eot?#iefix') format('embedded-opentype'),
       url('/css/fnt/airnewzaldblackitalic.woff') format('woff'),
       url('/css/fnt/airnewzaldblackitalic.ttf') format('truetype'),
       url('/css/fnt/airnewzaldblackitalic.svg#airnewzaldblackitalic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'ApexNewBook'
  src url('/css/fnt/apexnewbook.eot')
  src url('/css/fnt/apexnewbook.eot?#iefix') format('embedded-opentype'),
       url('/css/fnt/apexnewbook.woff') format('woff'),
       url('/css/fnt/apexnewbook.ttf') format('truetype'),
       url('/css/fnt/apexnewbook.svg#apexnewbook') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'ApexNewLight'
  src url('/css/fnt/apexnewlight.eot')
  src url('/css/fnt/apexnewlight.eot?#iefix') format('embedded-opentype'),
       url('/css/fnt/apexnewlight.woff') format('woff'),
       url('/css/fnt/apexnewlight.ttf') format('truetype'),
       url('/css/fnt/apexnewlight.svg#apexnewlight') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'ApexNewMedium'
  src url('/css/fnt/apexnewmedium.eot')
  src url('/css/fnt/apexnewmedium.eot?#iefix') format('embedded-opentype'),
       url('/css/fnt/apexnewmedium.woff') format('woff'),
       url('/css/fnt/apexnewmedium.ttf') format('truetype'),
       url('/css/fnt/apexnewmedium.svg#apexnewmedium') format('svg')
  font-weight normal
  font-style normal
