.circle
  position absolute
  z-index 5
  top 250px
  left 150px
  width 500px
  height 500px
  text-align center
  display none
  .chooser, .correct, .wrong, .finished
    position absolute
    width 100%
    height 100%
    border-radius 50%
    transform-style preserve-3d
    backface-visibility hidden
    transition all 1.0s ease
    .choose
      cursor pointer
      display inline-block
      background-color rgba(black, 0.65)
      font-size 1.5em
      padding 10px 20px
      buttonbg()
      &.cnz
        margin 50px 80px 0 0
      &.csf
        margin 50px 0 0 80px
  .correct, .wrong, .finished
    transform rotateY(180deg)
    &.on
      transform rotateY(0deg)
      transition all 1.0s ease
  .chooser
    transform translateY(50rem)
    transition all 1.0s ease
    &.on
      transform translateY(0rem)
      transition all 1.0s ease
  .correct, .wrong
    background-color rgba(black, 0.65)
    > .title 
      font-size 4em
      margin 100px 0 0 0
    > .copy
      apex()
      margin 20px auto 0 auto
      width 350px
      line-height 1.2em
    > .cta
      cursor pointer
      font-size 2.5em
      margin 50px 0 0 0
      buttontext();
  .finished
    display none
    background-color rgba(black, 0.65)
    > .title
      font-size 2.5em
      margin 100px 0 0 0
    > .copyA
      apex()
      font-size 1em
    > .score
      font-size 4em
      margin 10px 0 0 0
    > .copyB
      apex()
      font-size 0.8em
      padding 10px 50px
      &.winner, &.loser
        display none
    > .ctas
      width 510px
      margin auto
      text-align center
      margin 10px 0 0 43px
      font-size 1.4em
      > .cta
        cursor pointer
        width 162px
        float left
        buttontext();
        &.share
          margin 12px 0 0 0
        &.more
          font-size 1.4em
          margin 100px 0 0 -40px
          width 141px
          //animation tada 2s ease-out 2s
