.header
  .nzo
    float right
    background-image url('/img/anz_logo.png')
    width 246px
    height 40px
    margin 10px 10px 0 0
  .sfo
    float left
    background-image url('/img/sfologo.png')
    background-size 100%
    width 113px
    height 60px
    margin 0 0 0 10px


