.header
  .nzo
    float right
    background-image url('/img/anz_logo.png')
    width 246px
    height 40px
    margin 10px 10px 0 0
  .sfo
    float left
    background-image url('/img/sfo.png')
    width 97px
    height 52px
    margin 0 0 0 10px


