
.register
  position absolute
  top 50px
  left 10px
  width 790px
  opacity 1
  z-index 10
  transition opacity 0.5s
  &.hidden
    height 1px
    padding 0
    opacity 0
    transition opacity 0.5s ease-in-out 0.5s
  background-color rgba(black, 0.9)
  padding 50px 0 100px 0
  overflow hidden
  transition opacity 0.5s ease-in-out 0.5s
  > .title
    margin 100px 0 0 0
    text-align center
    font-size 3em
  > .copy
    padding 20px 120px
    font-family ApexNewLight
    text-align center
    font-size 1em
    line-height 1.1em
  > .form
    > .right
      float right
      width 395px
    .option
      padding 10px 0 0 0
    .checkbox
      cursor pointer
      width 20px
      height 20px
      background-color white
      box-shadow inset 2px 2px 5px 1px rgba(0, 0, 0, 0.7)
      margin 0 0 0 10px
      transition all 0.2s
      &.checked
        background-color blue1
        box-shadow 0 0 5px 0 rgba(blue1, 1)
        transition all 0.2s
    .label
      font-family ApexNewMedium
      font-size 1em
      padding 10px
    .copy
      float left
      font-family ApexNewLight
      font-size 0.9em
      margin 0 0 0 40px
  > .left
      float left
      width 395px
      border 1px solid #ff0000
      padding 0 0 20px 0
    .input
      background-color white
      width 340px
      padding 5px 10px
      margin 0 0 0 10px
      box-shadow inset 2px 2px 5px 1px rgba(0, 0, 0, 0.7)
      input
        outline none
        font-family ApexNewLight
        font-size 1.2em
        font-size 1.3em
        border none
        width 320px
    > .submit
      float right
      font-size 3em
      margin -50px 10px 0 20px
      padding 0 20px
      transition color 0.2s
      cursor pointer
      &:hover
        color rgba(blue1, 0.65)
        transition color 0.2s

.post
  position absolute
  display none
  top 200px
  left 10px
  width 790px
  opacity 1
  z-index 10
  transition opacity 0.5s
  background-color rgba(black, 0.9)
  text-align center
  padding 100px 0
  > .title
    font-size 3em
  > .arrow
    width 100px
    height 100px
    background-color white
    border-radius 50%
    margin 20px auto
  > .copy
    font-family ApexNewLight
    font-size 1.2em
    line-height 1.3em
    width 575px
    margin auto
