purple1 = #8f257a
blue1 = #009ec1
images = 'beachhouses.png' 'citycouple.png' 'paddleboard.png' 'skyfloor.png' 'trainstation.png' 'wineladies.png' 'boatwoman.png' 'coffee.png' 'eyeball.png' 'oceanwoman.png' 'road.png' 'beachcrowd.png' 'womantrees.png' 'beachgroup.png' 'beachjumpgirl.png' 'doghill.png' 'houses.png' 'outlawsbar.png' 'parkwoman.png' 
