purple1 = #8f257a
blue1 = #009ec1
images = 'beachhouses.jpeg' 'citycouple.jpeg' 'paddleboard.jpeg' 'skyfloor.jpeg' 'trainstation.jpeg' 'wineladies.jpeg' 'boatwoman.jpeg' 'coffee.jpeg' 'eyeball.jpeg' 'oceanwoman.jpeg' 'road.jpeg' 'beachcrowd.jpeg' 'womantrees.jpeg' 'beachgroup.jpeg' 'beachjumpgirl.jpeg' 'doghill.jpeg' 'houses.jpeg' 'outlawsbar.jpeg' 'parkwoman.jpeg' 
