
@import _vars
@import _fonts
@import 'nib'

body,html
  margin 0
  padding 0
  font-family 'AirNewzealand', tahoma, verdana
  font-size 16px
  color #fff
  background-color #000

.clear
  clearfix()

.container
  padding 0 20px
