
@import _vars
@import _mixins
@import _fonts
@import 'nib'
@import _header
@import _dashboard
@import _register
@import _notice
@import _game

body,html
  margin 0
  padding 0
  font-family 'AirNewzealand', tahoma, verdana
  font-size 16px
  color #fff
  background-color #000
  position relative
  width 810px
  height 986px
  overflow hidden

.clear
  clearfix()

.noselect
  user-select none


.container
  overflow hidden
  position relative
  width 810px
  margin auto
  padding 0

.loader
  background-color #000
  padding 60px 0 0 0
  height 791px
  .copy
    margin 100px 0 20px 0
    text-align center
    font-size 1.5em
    apex()
  .dots
    width 600px
    height 25px
    overflow hidden
    margin auto
    .dot
      display inline-block
      margin 0 8px
      width 20px
      height 20px
      border-radius 50%
      background-color black
      box-shadow inset 0px 10px 5px -2px rgba(255, 255, 255, 0.5)
      transition all 0.5s
      &.filled
        transition all 0.5s
        box-shadow 0px 0px 5px 0px rgba(white, 1)
        background-color white

.body
  background-color #000
  padding 60px 0 0 0
  height 791px
  display none
  .titles
    position relative
    z-index 10
    padding 0 0 0 40px
    .copy1, .copy3
      apex()
    .copy1
      font-size 1.4em
    .copy2
      font-size 3em
    .copy3
      padding 10px 0 0 0
      line-height: 1.2em
  .bubbles.hidden
    transform scale(0)
    transition all 0.2s
  .bubbles
    position relative
    z-index 10
    margin 80px auto 0 auto
    width 640px
    transition all 0.2s
    .bubbleLeft
      animation fromLeft 0.5s 1.25s ease both
    .bubbleRight
      animation fromRight 0.5s 1.5s ease both
    .bubble
      float left
      cursor pointer
      width 300px
      height 300px
      margin 0 10px
      background-color rgba(0, 0, 0, 0.65)
      border-radius 50%
      color #fff
      transition all 0.2s
      &.bubbleRight .copy
        > .smaller
          font-size 0.4em
      &:hover
        background-color rgba(blue1, 0.65)
      &:hover .copy
        transition all 0.2s
      > .copy
        font-size 2.5em
        text-align center
        margin 120px 0 0 0
        > .smaller
          apex()
          font-size 0.5em
          line-height 1.3em

.footer
  .booknow
    apex()
    float right
    padding 25px 20px 20px 0
    a
      color white
  .copy1
    text-align center
    apex()
    font-size 1.2em
    line-height 1.3em
  .copy2
    text-align left
    apex()
    padding 30px 0 0 20px
    font-size 0.8em
    line-height 1em
    a
      color white

.images
  position absolute
  z-index 1
  .image
    position absolute
    width 810px
    height 791px
    background-size cover
    transition opacity 2s
    opacity 0
    &.show
      opacity 1
      transition opacity 2s
  .gradient
    position absolute
    top 0px
    left 0px
    width 810px
    height 791px
    background linear-gradient(top, rgba(0,0,0,1) 0%, transparent 40%, transparent 80%, rgba(0,0,0,1) 100%)
    box-shadow inset 0px 0px 100px 10px rgba(0, 0, 0, 0.8)

@keyframes fromLeft
  from
    transform translateX(-25rem) rotate(180deg)
    opacity 0

@keyframes fromRight
  from
    transform translateX(25rem) rotate(-180deg)
    opacity 0
