
@import _vars
@import _mixins
@import _fonts
@import 'nib'

body,html
  margin 0
  padding 0
  font-family 'AirNewzealand', tahoma, verdana
  font-size 16px
  color #fff
  background-color #000

.temp
  font-size 2em
  margin 40px 0
  text-align center
