
.dashboard.closed
  .step.iregister(data-cta='register',class = settings.registered ? 'on' : '')
    .icon: img(src='/img/planeicon.png')
    .copy 
      span.preh.hint--left(data-hint='Enter for a chance at a flight.') Register
      span.posth.hint--left(data-hint='Thank you for registering!.') Registered!

  .step.ilike(data-cta='like',class = settings.liked ? 'on' : '')
    .icon: img(src='/img/likeicon.png')
    .copy
      span.preh.hint--left(data-hint='Like us for an extra sweepstakes entry.') Like
      span.posth.hint--left(data-hint='Thanks for the like! Extra entry added!') Liked!

  .step.ishare(data-cta='share',class = settings.shared ? 'on' : '')
    .icon: img(src='/img/shareicon.png')
    .copy
      span.preh.hint--left(data-hint='Share for an extra sweepstakes entry.') Share
      span.posth.hint--left(data-hint='Thanks for the share! Extra entry added!') Shared!
