.footer
  .copy1 Get the full Kiwi experience on Air New Zealand.  Flying SFO to Auckland daily.
  .copy2 NO PURCHASE NECCESSARY.  Submit a photo to enter.  Follow @AirNZ on Instagram and upload a photo by tagging @Whichcity on Instagram.  Participants
    | must be legal residents who are 10 or over with a valid Instagram account at time of entry.  Entry deadline for Grand Prize is July 31, 2013 at 11:59pm
    | PST Grand Prize ARV is USD$5344.  Odds of winning depend solely on the total number of valid entries received.  Complete rules available at:
    | facebook.com/airnewzealnd . Sponsor Air New Zealand Limited.
