
.circle

  .chooser
    .noselect.choose(data-choice='nz') Auckland
    .noselect.choose(data-choice='sf') San Francisco

  .correct
    .title correct!
    .copy That's what it feels like to nail it.  You already know that Auckland's got some awesome beaches. 
      | Like Muriawai, 60 kilometers of rugged black sand surf coast.  Shred the natural in real life with a trip to
      | Auckland on Air New Zealand.
    .cta next image

  .wrong
    .title wrong!
    .copy But don't worry.  We still love you.  And you'll love Auckland's coast.  With beaches of all kinds, plush
      | rainforests, native bushes, or even hypnotizing black sand coastlines - it's your choice.  Book now with
      | Air New Zealand and find out for yourself.
    .cta next image
