
.circle

  .chooser
    .noselect.choose.cnz(data-choice='nz') Auckland
    .noselect.choose.csf(data-choice='sf') San Francisco

  .correct
    .title correct!
    .copy Let's play a game. Tell us if a the photo is of Auckland or San Francisco and we'll teach you a thing or two about these two great cities. Careful, they look a lot alike.  
    
    .cta.next next image

  .wrong
    .title wrong!
    .copy But don't worry.  We still love you.  And you'll love Auckland's coast.  With beaches of all kinds, plush
      | rainforests, native bushes, or even hypnotizing black sand coastlines - it's your choice.  Book now with
      | Air New Zealand and find out for yourself.
    .cta.next next image

  .finished
    .title thanks for playing!
    .copyA Your Kiwi IQ score is
    .score 16 / 20
    .copyB.winner You DO know a thing or two about New Zealand, but there's more to learn. Take in more wine, food, arts, and landscape on your very own trip.
    .copyB.loser You didn't do that well. So what! That means it's time to take a trip to Auckland to brush up on some delightful Kiwi culture.

    .ctas
      .cta.share(data-cta='share') share your score
      .cta.more(data-cta='more') play more
      .cta.reg(data-cta='register') enter for a chance to win
      .clear


