
.register.hidden
  .title sweepstakes registration
  .copy Enter our Kiwi IQ Sweepstakes for a chance to experience Auckland for yourself.

  .form
    .right
      .option
        .label TERMS AND CONDITIONS
        .copy.agree I agree to the 
          a(href='/tandc.pdf', target='_new') Terms and Conditions.
        .checkbox.checkbox_tandc
          div
      .clear
      .option
        .label SIGN ME UP
        .copy To receive the latest news and special e-mail<br /> offers from Air New Zealand.
        .checkbox.checkbox_signup.checked
          div
      .option.emailoption
        .label EMAIL
        .input.input_email
          input(type='text')

    .left
      .option
        .label FIRST NAME
        .input.input_first
          input(type='text')
      .option
        .label LAST NAME
        .input.input_last
          input(type='text')
      .option
        .label STATE
        .input.input_state
          input(type='text')
      //.option
        .label COUNTRY
        .input.input_country
          input(type='text')

  .submit submit
.post
  .title thank you for entering
  .arrow
  .copy Click "like" for an extra sweepstakes entry! Fun!
    | More chances for getting your two hands on two tickets to
    | Auckland on Air New Zealand.
  .share share 
