!!!

html
  head
    title the city-picker
    link(id='css', rel='stylesheet',href='/css/main.css',type='text/css',media='all')


body
  each copy,name in images
    img(src='/img/game/' + name + '.jpeg')
    .copy correct: #{copy.correct}
    .wrong wrong: #{copy.wrong}
