
extends layout
block content
  include _header

  .loader
    .copy Game is loading.  Please bear with us.
    .dots
      each d in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
        .dot(class='dot_' + d)
    .clear
  .body
    include _images
    .titles
      .copy1 Test your Kiwi IQ with
      .copy2 the city-picker
      .copy3 Let's play a game.  Tell us if each photo is of Auckland or San Francisco
        | <br/> and we'll teach you a thing or two.  Careful, they look a lot alike.
    .bubbles
      .bubble.bubbleLeft(data-action='play').noselect
        .copy play now
      .bubble.bubbleRight(data-action='register').noselect
        .copy ent6r now
          .smaller for a chance to win<br/> tickets to New Zealand
      .clear

    include _game

  include _footer
  include _dashboard
  include _register
  include _notice
