!!!

html
  head
    title the city-picker

    link(id='css', rel='stylesheet',href='css/main.css',type='text/css',media='all')
    script(type='text/javascript',src='jst/lib/jquery-2.0.2.min.js')
    script(type='text/javascript',src='jst/main.js')

  body
    .container
      block content
